<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HELCO_WEB</display-name>
	<servlet>
		<description>Main Action Servlet</description>
		<display-name>Main</display-name>
		<servlet-name>MiplatformMainServlet</servlet-name>
		<servlet-class>tit.service.miplatform.servlet.MainServlet</servlet-class>
		<init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>sessionManager</param-name>
            <param-value>SessionManager</param-value>
        </init-param>
	</servlet>
	<servlet>
		<description>File Upload</description>
		<display-name>File Upload</display-name>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>tit.service.web.HttpFileManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Login Servlet</description>
		<display-name>Login</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.helco.xf.wb01.LoginServlet</servlet-class>
	</servlet>
	<filter>
	    <filter-name>XHubFilter</filter-name>
	    <filter-class>tit.service.miplatform.servlet.XHubServletFilter</filter-class>
        <init-param>
            <param-name>service</param-name>
            <param-value>/usr/WAS/AppServer/profiles/AppSrv01/installedApps/elswebCell01/HELCO_WEB.ear/conf/service-helcoWeb.xml</param-value>
        </init-param>
        <init-param>
            <param-name>WORK_DIR</param-name>
            <param-value>/usr/WAS/AppServer/profiles/AppSrv01/installedApps/elswebCell01/HELCO_WEB.ear/</param-value>
        </init-param>
    </filter>
	<filter-mapping>
	    <filter-name>XHubFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>MiplatformMainServlet</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/FileUploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
