<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeHandlers>
		<typeHandler handler="com.sap.handler.VbelnHandler" javaType="com.sap.domain.Vbeln"/>
		<typeHandler handler="com.sap.handler.KunnrHandler" javaType="com.sap.domain.Kunnr"/>
		<typeHandler handler="com.sap.handler.LifnrHandler" javaType="com.sap.domain.Lifnr"/>
		<typeHandler handler="com.sap.handler.DatumHandler" javaType="com.sap.domain.Datum"/>
		<typeHandler handler="com.sap.handler.InvdtHandler" javaType="com.sap.domain.Invdt"/>
		<typeHandler handler="com.sap.handler.PosnrHandler" javaType="com.sap.domain.Posnr"/>
		<typeHandler handler="com.sap.handler.OrderNoHandler" javaType="com.sap.domain.OrderNo"/>
		<typeHandler handler="com.sap.handler.OrderItemHandler" javaType="com.sap.domain.OrderItem"/>
		<typeHandler handler="com.sap.handler.SprasHandler" javaType="com.sap.domain.Spras"/>
		<typeHandler handler="com.sap.handler.SapBoolHandler" javaType="com.sap.domain.SapBool"/>
	</typeHandlers>
</configuration>