TD {
	FONT-SIZE: 9pt; COLOR: #393939; FONT-FAMILY: "µ¸¿ò"
}
DIV {
	FONT-SIZE: 9pt; FONT-FAMILY: "µ¸¿ò"
}
.mail_topbar {
	BACKGROUND: url(../images/l_topbg.gif) repeat-x 0px 0px; HEIGHT: 29px
}
.mail_topbar1 {
	BACKGROUND: url(../images/i_helpdesk_menu_bg.gif) repeat-x 0px 0px; HEIGHT: 3px
}
A:link {
	FONT-SIZE: 9pt; COLOR: #393939; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #393939; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #393939; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #0b790e; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: "µ¸¿ò"
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: "µ¸¿ò"; HEIGHT: 20px
}
text {
	FONT-SIZE: 9pt; FONT-FAMILY: "µ¸¿ò"
}
TEXTAREA {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; COLOR: #393939; PADDING-TOP: 5px; FONT-FAMILY: "±¼¸²"
}
TEXTAREA.ty2 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; OVERFLOW-Y: auto; PADDING-LEFT: 2px; FONT-SIZE: 8pt; BORDER-LEFT: #fff 1px solid; WIDTH: 212px; COLOR: #666; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 101px; scrollbar-y: no
}
.btn {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 70px; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 2px; HEIGHT: 20px; BACKGROUND-COLOR: #e0e0e0; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff
}
.page {
	PADDING-BOTTOM: 4px; VERTICAL-ALIGN: bottom; WIDTH: 300px; TEXT-ALIGN: right
}
.point {
	FONT-WEIGHT: bold; COLOR: #cc6600; PADDING-TOP: 2px
}
.dotted {
	BACKGROUND: url(../images/main/line_dot01.gif) #ffffff left 50%; HEIGHT: 1px
}
.white {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.line {
	HEIGHT: 1px; BACKGROUND-COLOR: #bcbcbc
}
.calendar {
	FONT-SIZE: 8pt; COLOR: #212121; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.mbody {
	BACKGROUND-POSITION: left top; MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(../images/bg_main.gif); MARGIN-LEFT: 8px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.mtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; WIDTH: 500px; COLOR: #3a3a3a; PADDING-TOP: 1px; HEIGHT: 47px
}
.mtitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; WIDTH: 500px; COLOR: #3a3a3a; PADDING-TOP: 1px; HEIGHT: 30px
}
.stitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; WIDTH: 600px; COLOR: #3a3a3a; PADDING-TOP: 8px; HEIGHT: 47px
}
.micon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 40px
}
.mwidth {
	WIDTH: 800px
}
.twidth {
	MARGIN-LEFT: 25px; WIDTH: 740px
}
.subtxt {
	COLOR: #2778a7
}
.mtxt {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; COLOR: #2778a7; HEIGHT: 30px
}
.msg {
	BORDER-RIGHT: #dadada 1px dotted; BACKGROUND-POSITION: left 50%; BORDER-TOP: #dadada 1px dotted; PADDING-LEFT: 55px; BACKGROUND-IMAGE: url(../images/i_msg.gif); MARGIN: 10px; BORDER-LEFT: #dadada 1px dotted; WIDTH: 300px; PADDING-TOP: 4px; BORDER-BOTTOM: #dadada 1px dotted; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}
.ltitle {
	PADDING-LEFT: 10px; WIDTH: 800px; PADDING-TOP: 2px; HEIGHT: 23px; BACKGROUND-COLOR: #e4e4e4
}
.ltitle2 {
	PADDING-LEFT: 10px; WIDTH: 800px; PADDING-TOP: 2px; HEIGHT: 23px; BACKGROUND-COLOR: #ffffcc
}
.ltitle3 {
	PADDING-LEFT: 10px; PADDING-TOP: 2px; HEIGHT: 23px; BACKGROUND-COLOR: #e4e4e4
}
.list {
	MARGIN-TOP: 2px; PADDING-LEFT: 10px; WIDTH: 800px; PADDING-TOP: 4px
}
.gray1 {
	PADDING-LEFT: 15px; PADDING-TOP: 2px; HEIGHT: 23px; BACKGROUND-COLOR: #e4e4e4
}
.gray2 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #eaeaea
}
.gray3 {
	PADDING-LEFT: 15px; PADDING-TOP: 2px; HEIGHT: 23px; BACKGROUND-COLOR: #e4e4e4
}
.T1 {
	PADDING-LEFT: 15px; PADDING-TOP: 2px; HEIGHT: 23px
}
.T2 {
	PADDING-LEFT: 15px; PADDING-TOP: 2px; HEIGHT: 23px
}
.leftline1 {
	HEIGHT: 1px; BACKGROUND-COLOR: #c3c3c3
}
.leftline2 {
	BACKGROUND: url(../images/main/left_line.gif) no-repeat center 50%; HEIGHT: 1px
}
A.l:link {
	FONT-SIZE: 9pt; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.l:visited {
	FONT-SIZE: 9pt; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.l:active {
	FONT-SIZE: 9pt; COLOR: #d58713; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.l:hover {
	FONT-SIZE: 9pt; COLOR: #d58713; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.t:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.t:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.t:active {
	FONT-SIZE: 9pt; COLOR: #003fa7; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.t:hover {
	FONT-SIZE: 9pt; COLOR: #003fa7; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.leftline1 {
	HEIGHT: 1px; BACKGROUND-COLOR: #c3c3c3
}
.leftline2 {
	BACKGROUND: url(../images/main/line_dot01.gif); HEIGHT: 1px
}
.leftmenu {
	PADDING-TOP: 4px; HEIGHT: 22px
}
.pbody {
	MARGIN: 0px; BACKGROUND-COLOR: #f5f5f5
}
.iconbg {
	COLOR: #002b42; BORDER-BOTTOM: #7eaaca 1px solid; HEIGHT: 42px; BACKGROUND-COLOR: #c9e0f2
}
.vline1 {
	WIDTH: 1px; BACKGROUND-COLOR: #6a9dba
}
.vline2 {
	WIDTH: 1px; BACKGROUND-COLOR: #dbf5fb
}
.pframe {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.ptable {
	MARGIN: 10px; BACKGROUND-COLOR: #b6b6b6
}
.ptable1 {
	MARGIN: 0px; BACKGROUND-COLOR: #b6b6b6
}
.tbbg {
	BACKGROUND-COLOR: #b6b6b6
}
.ptitle {
	PADDING-LEFT: 10px; PADDING-TOP: 5px; HEIGHT: 23px; BACKGROUND-COLOR: #e4f1fb
}
.pstitle {
	PADDING-LEFT: 15px; PADDING-TOP: 4px; HEIGHT: 23px; BACKGROUND-COLOR: #f5f5f5
}
.ptb1 {
	BACKGROUND-COLOR: #f5f5f5
}
.pg {
	FONT-SIZE: 12pt
}
.NoticeTitle {
	PADDING-LEFT: 10px; WIDTH: 780px; PADDING-TOP: 2px; HEIGHT: 30px; BACKGROUND-COLOR: #e4e4e4
}
.subtxtb {
	FONT-WEIGHT: bold; COLOR: #2778a7
}
A.gun:link {
	FONT-SIZE: 9pt; COLOR: #ee6a00; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.gun:visited {
	FONT-SIZE: 9pt; COLOR: #ee6a00; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.gun:active {
	FONT-SIZE: 9pt; COLOR: #d58713; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A.gun:hover {
	FONT-SIZE: 9pt; COLOR: #d58713; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.iconbg_a {
	COLOR: #002b42; BORDER-BOTTOM: #7eaaca 1px solid; HEIGHT: 50px; BACKGROUND-COLOR: #c9e0f2
}
.pmenu {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana,arial,"Arial"; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.lh18 {
	LINE-HEIGHT: 18px
}
A.help_me:link {
	FONT-SIZE: 8pt; COLOR: #8d8d8d; FONT-FAMILY: Dotum,Arial; TEXT-DECORATION: none
}
A.help_me:visited {
	FONT-SIZE: 8pt; COLOR: #8d8d8d; FONT-FAMILY: Dotum,Arial; TEXT-DECORATION: none
}
A.help_me:active {
	FONT-SIZE: 8pt; COLOR: #8d8d8d; FONT-FAMILY: Dotum,Arial; TEXT-DECORATION: none
}
A.help_me:hover {
	FONT-SIZE: 8pt; COLOR: #e2633a; FONT-FAMILY: Dotum,Arial; TEXT-DECORATION: none
}
.pal10 {
	PADDING-LEFT: 8px
}
.par10 {
	PADDING-LEFT: 8px
}
.pat5 {
	PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 13px; BACKGROUND: url(../images/i_bultitle.gif) no-repeat 0px 3px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 3px; FONT-FAMILY: Dotum,Arial; TEXT-ALIGN: left
}
H4.ty1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 13px; BACKGROUND: url(../images/i_bultitle.gif) no-repeat 0px 3px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 3px; FONT-FAMILY: Dotum,Arial; TEXT-ALIGN: left
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 9pt; BACKGROUND: url(../images/i_bultitle2.gif) no-repeat 0px 1px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Dotum,Arial; TEXT-ALIGN: left
}
H5.ty1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 9pt; BACKGROUND: url(img/i_bultitle2.gif) no-repeat 10px 1px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Dotum,Arial; TEXT-ALIGN: left
}
DIV.subtitle {
	BACKGROUND: url(../images/i_titlebg.gif) repeat-x 0px -5px; MARGIN-BOTTOM: 0px; WIDTH: 740px; HEIGHT: 35px
}
DIV.subtitle1 {
	BACKGROUND: url(../images/i_titlebg.gif) repeat-x 0px 0px; MARGIN-BOTTOM: 0px; WIDTH: 780px; HEIGHT: 35px
}
DIV.pop_pa12 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
