<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HELCO_WEB</display-name>

	<listener>
		<listener-class>tit.biz.session.listener.DefaultHttpSessionListener</listener-class>
	</listener>

	<!-- 2019.05.30 Spring Request 선언을 위한 추가 -->
	<listener>
	  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

 <servlet>
   <servlet-name>mipApp</servlet-name>
   <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   <init-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>/WEB-INF/config/mip-config.xml</param-value>
   </init-param>
   <load-on-startup>1</load-on-startup>
 </servlet>

	<servlet>
		<description>Main Action Servlet</description>
		<display-name>Main</display-name>
		<servlet-name>MiplatformMainServlet</servlet-name>
		<!-- servlet-class>tit.service.miplatform.servlet.MainServlet</servlet-class -->
		<servlet-class>tit.service.miplatform.servlet.MainServlet</servlet-class>
		<init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
 		<init-param>
            <param-name>sessionManager</param-name>
            <param-value>SessionManager</param-value>
        </init-param>
	</servlet>
	<servlet>
	  <description>Main Action Servlet</description>
	  <display-name>WebMain</display-name>
	  <servlet-name>WebMainServlet</servlet-name>
	  <servlet-class>com.helco.xf.comm.WebMainServlet</servlet-class>
      <init-param>
          <param-name>sessionManager</param-name>
          <param-value>SessionManager</param-value>
      </init-param>
	 </servlet>
	<servlet>
		<description>SqlMap In/Out</description>
		<display-name>SqlMap In/Out</display-name>
		<servlet-name>DatasetListServlet</servlet-name>
		<servlet-class>tit.service.miplatform.servlet.InOutDatasetSearchServlet</servlet-class>
		<init-param>
            <param-name>charset</param-name>
            <param-value>euc-kr</param-value>
        </init-param>
        <init-param>
            <param-name>sqlLayoutService</param-name>
            <param-value>sql#SqlMapLayoutService</param-value>
        </init-param>
	</servlet>
	<servlet>
		<description>File Upload</description>
		<display-name>File Upload</display-name>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>tit.service.web.HttpFileManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Ftp File Downloader</description>
		<display-name>Ftp File Downloader</display-name>
		<servlet-name>FtpFileDownloader</servlet-name>
		<servlet-class>tit.service.web.FtpFileManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Login Servlet</description>
		<display-name>Login</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.helco.xf.wb01.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>PDA Support Servlet</description>
		<display-name>PDAMain</display-name>
		<servlet-name>PDAMiplatformMainServlet</servlet-name>
		<servlet-class>com.helco.xf.wb01.PDAMainServlet</servlet-class>
		<init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
		<init-param>
            <param-name>loginSqlMap</param-name>
            <param-value>PCC04:LOGIN_S01</param-value>
        </init-param>
		<init-param>
            <param-name>isUserCheck</param-name>
            <param-value>false</param-value>
        </init-param>
	</servlet>

	<filter>
	    <filter-name>XHubFilter</filter-name>
	    <filter-class>tit.service.miplatform.servlet.XHubServletFilter</filter-class>
        <init-param>
            <param-name>service</param-name>
            <param-value>D:/app/orgspace/HELCO_WEB/conf/service-helcoWeb.xml</param-value>
        </init-param>
        <init-param>
            <param-name>WORK_DIR</param-name>
            <param-value>D:/app/orgspace/HELCO_WEB/</param-value>
        </init-param>
    </filter>

	<filter-mapping>
	    <filter-name>XHubFilter</filter-name>
	    <url-pattern>/</url-pattern>

     </filter-mapping>

 <servlet-mapping>
   <servlet-name>mipApp</servlet-name>
   <url-pattern>/mipApp/*</url-pattern>
 </servlet-mapping>
	<servlet-mapping>
            <servlet-name>DatasetListServlet</servlet-name>
            <url-pattern>/default_service</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MiplatformMainServlet</servlet-name>
		<url-pattern>/Main/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebMainServlet</servlet-name>
		<url-pattern>/JspMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/FileUploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FtpFileDownloader</servlet-name>
		<url-pattern>/FtpFileDownloader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>WebMainServlet</servlet-name>
        <url-pattern>/WebMain</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>PDAMiplatformMainServlet</servlet-name>
		<url-pattern>/PDAMain</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
